<tr>
    <td style="vertical-align: middle;">188</td>
    <td style="vertical-align: middle;">uukj99036</td>
    <td style="vertical-align: middle;">0</td>
    <td style="vertical-align: middle;font-weight: bold;">
        <span style="color: #5cb85c">User<span>
            </span>
        </span>
    </td>
    <td style="vertical-align: middle;">2020-03-28 22:21:27</td>
    <td style="vertical-align: middle;">2020-03-28 22:14:56</td>
    <td style="vertical-align: middle;">
        <form action="user.php" method="post">
            <input type="hidden" name="uid" value="188"> <button type="submit" class="btn btn-outline-warning"
                value="Submit">
                <i class="far fa-edit fa-lg">
                </i>
            </button> </form>
    </td>
    <td style="vertical-align: middle;">
        <div class="toggle btn btn-outline-success btn-sm" data-toggle="toggle" role="button"
            style="width: 64.6625px; height: 30.8px;">
            <input name="toggleBtn" type="checkbox" checked="" data-toggle="toggle" data-on="Active" data-off="Block"
                data-size="sm" data-onstyle="outline-success" data-offstyle="outline-danger"
                onchange="changeStat( 188 )">
            <div class="toggle-group">
                <label class="btn btn-outline-success btn-sm toggle-on">Active</label>
                <label class="btn btn-outline-danger btn-sm toggle-off">Block</label>
                <span class="toggle-handle btn btn-light btn-sm">
                </span>
            </div>
        </div>
    </td>
</tr>